{% extends 'home/base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}
{% block content %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<div class="container">
{% include 'include/alert.html' %}
</div>
<div class="container" style="margin-top: 1px;margin-left: 2px;width: fit-content; padding: 0px 5px;"><span><b><i style="font-size: 15px;">MAITRI COLLECTION</i></b></span></div>
{% include 'include/owner/owner_menu.html' %}
    <!-- Button trigger modal -->
    <div class="container">
    <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#Add_New_Iteml">
      Add New Item
    </button>

    <table class="table  table-striped table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for i in item %}
                <tr>
                    <th scope="row">{{i.item_name}}</th>
                    <th scope="row"><input type="number" value="{{i.size}}" id="size{{i.id}}" required>&nbsp;&nbsp;<button class="btn" style="color: green;"  onclick="size_edit('{{i.id}}')"><i class="fa-solid fa-check"></i></button></th>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    <!-- Modal -->
    <div class="modal fade" id="Add_New_Iteml" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Item Name" class="form-label">Item Name</label>
                            <input class="form-control" type="text" id="Item Name" name="item_name" placeholder="Item Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="size" class="form-label">size</label>
                            <input class="form-control" type="text" id="size" name="size" placeholder="size" value="10" required>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" name="Add_iteml">Add</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



<script>
    function size_edit(id){
        size_input = document.getElementById('size'+id).value;
        $.ajax({
            url: "{% url 'size_edit' %}",
            method: "GET",
            data:{
                size_input:size_input,
                id:id
            },
            success: function(res){
                location.reload()
            }
          })
    }
</script>



    {% endblock content %}
    
    
    
    
    
    
    
    
    
    






